* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: silver;
    
}

h1 {
    font-size: 24px;
    margin-top: 15px;
}

p {
    padding: 10px;
    text-align: center;
    font-size: 12px;
}

@media (min-width: 768px) {
    h1 {
        font-size: 36px;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 48px;
    }
}